<div class="grid__wrapper">
  <h4 class="mb-4">Grid: Paging</h4>
  <igx-grid
    [igxPreventDocumentScroll]="true"
    #grid
    [data]="data"
    height="500px"
    width="100%"
  >
    <igx-paginator
      #paginator
      [(page)]="grid.page"
      [totalRecords]="grid.totalRecords"
      [(perPage)]="grid.perPage"
      [selectOptions]="selectOptions"
    >
      <igx-paginator-content>
        <igx-page-size></igx-page-size>
        <igx-page-nav></igx-page-nav>
      </igx-paginator-content>
    </igx-paginator>
    <igx-column
      header="Rank"
      headerClasses="myClass"
      field="Id"
      [sortable]="true"
    ></igx-column>
    <igx-column field="Name" header="Athlete"></igx-column>
    <igx-column
      field="BeatsPerMinute"
      header="Beats per minute"
      dataType="number"
    >
      <ng-template igxCell let-val>
        <div class="cell__inner">
          {{ val }}
        </div>
      </ng-template>
    </igx-column>
    <igx-column field="TopSpeed" header="Top Speed" dataType="number">
      <ng-template igxCell let-val>
        <div class="cell__inner">
          {{ val | number : "1.1-5" }}
        </div>
      </ng-template>
    </igx-column>
  </igx-grid>
</div>
